.bodyHomePage{
    //background: #f40000;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px 0px;

    .imgStudent{
        border-radius: 50%;
        width: 30rem;
        height: 30rem;

        background: #d4d4d4;
    }

    p{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 500;
        font-stretch: expanded;
        background: #d4d4d4;
        
        b{
            font-style: italic;
            color: #6e1c47;
        }

    }
}